body {
  background-color: black;
}

.select-channel{
  background-color: #ffffff21;
}


::-webkit-scrollbar {
  width: 3px;
  /* for vertical scrollbars */
  height: 3px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(117, 117, 117, 0.5);
}